/chrome_100_percent.pak
/chrome_200_percent.pak
/d3dcompiler_47.dll
/debug.log
/ffmpeg.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/LICENSE.electron.txt
/LICENSES.chromium.html
/locales
/resources.pak
/snapshot_blob.bin
/swiftshader
/Uninstall 淘宝直播主播工作台.exe
/uninstallerIcon.ico
/v8_context_snapshot.bin
/vk_swiftshader.dll
/vk_swiftshader_icd.json
/vulkan-1.dll
/淘宝直播主播工作台.exe